/* computer screen */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .sec1{
        gap: 50px;
        height: 500px;
    }
    
    
    .sec1Top{
        gap: 80px;
        padding-top: 35px;
    }

    .sec1Navbar{
        gap: 30px;
    }


    .sec1Top>img{
        width: 100px;
        height: 82.75px;
    }
    
    .sec1BottomLeft>h1{
        font-size: 30px;
    }
    .sec1BottomLeft>p{
        font-size: 14px;
    }

    .sec3Right>p>span{
        font-size: 12px;
    }

    .sec3Right>p{
        font-size: 12px;
    }
    .sec3Photo>img{
        width: 100%;
        height: 100%;
    }


/* ///////// Separation ///////// */

    /* section9 */
    #form {
        width: 70%;
    }
    #form input {
        width: 20%;
        padding: 2% 8% 2% 2%;
    }
    #sec9 textarea {
        width: 70%;
        padding: 0;
    }

    /* section8 */
    #mainCont8 {
        width: 90%;
    }
}





/* Tablet screen */
@media screen and (min-width: 425px) and (max-width: 768px) {
    /* ///////// Section 1 ///////// */
    .sec1{
        gap: 35px;
        height: 400px;
    }
    
    
    .sec1Top{
        gap: 50px;
        padding-top: 25px;
    }

    .sec1Navbar{
        gap: 20px;
    }


    .sec1Top>img{
        width: 80px;
        height: 62.75px;
    }
    
    .sec1BottomLeft>h1{
        font-size: 20px;
    }
    .sec1BottomLeft>p{
        font-size: 10px;
    }

    .sec1Navbar>button{
        height: 30px;
        width: 70px;
    }

    .sec1GetStarted{
        height: 30px;
        width: 70px;
    }
    .sec1ContactUs{
        height: 30px;
        width: 70px;
    }

    /* ///////// Section 2 ///////// */
    .sec2{
        gap: 40px;
    }
    .sec2Title{
        gap: 20px;
    }
    .sec2Title>h3{
        font-size: medium;
    }
    
    .icon1{
        height: 70px;
        width: 90px;
    }
    .icon2{
        height: 70px;
        width: 90px;
    }
    .icon6{
        height: 70px;
        width: 90px;
    }
    .icon3{
        height: 70px;
        width: 90px;
    }
    .icon4{
        height: 70px;
        width: 90px;
    }
    .icon5{
        height: 70px;
        width: 90px;
    }

    /* /////// Section 3 /////// */
    .sec3{
        gap: 20px;
    }
    .sec3Right>h3{
        font-size: small;
    } 
    .sec3Right>p>span{
        font-size: 10px;
    }

    .sec3Right>p{
        font-size: 10px;
    }
    .sec3Photo>img{
        width: 70%;
        height: 100%;
    }


    /* ///////// Separation ///////// */

    h2 {
        font-size: 24px;
    }

    /* section6 */
    #sec6 {
        gap: 0px;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: center;
        padding-bottom: 20px;
        background-size: 25%;
    }

    #mainCont6 {
        width: 360px;
        padding-bottom: 20px;
        padding-top: 20px;
        justify-content: center;
        height: fit-content;
    }

    #mainText6{
        margin: 0;
    }

    #imgCont6 {
        aspect-ratio: 1/1;
        width: 360px;
    }


    #imgCont6 div {
        height: 40%;
        width: 100%;
        border-top-right-radius: 10px;
    }
    #imgCont6 div img {
        height: 30px;
        padding: 10px 0 0 5px;
    }
    #imgCont6 div h3{
        margin: 5px 0 5px 5px;
    }
    #imgCont6 div p{
        margin: 0 0 5px 5px;
        font-size: 11px;
    }
    #imgCont6 div a {
        margin: 0 0 0 5px;
        font-size: 10px;
    }

    /* section7 */
    #sec7 {
        height: fit-content;
        padding: 20px 0 20px 0;
    }

    #mainCont7 {
        height: fit-content;
        flex-wrap: wrap;
    }

    #mainImg7 {
        width: 90%;
        justify-content: center;
    }
    .contSec7 {
        aspect-ratio: 1/1;
        width: 100px;
        padding: 2px;
    }
    .contSec7 img {
        height: 30px;
    }
    .contSec7 h2 {
        font-size: 18px;
    }

    #secCont7 {
        width: 70%;
        margin-top: 20px;
        align-items: center;
    }

    /* section8 */
    #sec8 {
        height: fit-content;
        padding: 20px 0 20px 0;
        background-size: 25%;
    }

    #mainCont8 {
        flex-wrap: wrap;
    }
    
    

    /* section9 */
    #form {
        width: 40%;
        justify-content:center;
        gap: 10px;
        }
    #form input {
        width: 100%;
        padding: 2% 0% 2% 2%;
    }
    #form input::placeholder {
        font: 0.7rem sans-serif;
    }


    #sec9 {
        background-size: 25%;
    }

    #title9 {
        width: 70%;
    }

    #sec9 textarea {
        width: 40%;
        padding: 0;
    }
    #sec9 textarea::placeholder {
        font: 0.7rem sans-serif;
    }

    /* footer */
    footer {
        padding-top: 20px;
        height: fit-content;
    }
    #mainFoot {
        width: 90%;
        height: fit-content;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    #copyright {
        height: fit-content;
    }
}





/* Phone screen */
@media screen and (max-width: 425px) {
    .sec2{
        gap: 15px;
    }

    .sec2Title{
        gap: 15px;
        font-size: small;
    }
    .sec2Title>h3{
        margin-top: 10px;
        font-size: smaller;
    }
    .sec2Title{
        font-size: small;
    }

    .icon1{
        height: 50px;
        width: 70px;
    }
    .icon2{
        height: 50px;
        width: 70px;
    }
    .icon6{
        height: 50px;
        width: 70px;
    }
    .icon3{
        height: 50px;
        width: 70px;
    }
    .icon4{
        height: 50px;
        width: 70px;
    }
    .icon5{
        height: 50px;
        width: 70px;
    }

/* ///////// Separation ///////// */
    h2 {
        font-size: 24px;
    }

    /* section6 */
    #sec6 {
        gap: 0px;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: center;
        padding-bottom: 20px;
        background-size: 25%;
        
    }

    #mainCont6 {
        width: 90%;
        padding-bottom: 20px;
        padding-top: 20px;
        justify-content: center;
        height: fit-content;
    }

    #mainText6{
        margin: 0;
        height: fit-content;
        width: 100%;
    }

    .percentText div {
        width: 60px;
        height: 60px;
    }
    .percentText div span {
        font-size: 16px;
    }
    .percentText p {
        font-size: 10px;
    }

    #imgCont6 {
        aspect-ratio: 1/1;
        width: 280px;
        margin: 0 20px 0 20px;
    }


    #imgCont6 div {
        height: fit-content;
        width: 100%;
        border-top-right-radius: 10px;
        padding-bottom: 10px;
    }
    #imgCont6 div img {
        height: 30px;
        padding: 10px 0 0 5px;
    }
    #imgCont6 div h3{
        margin: 5px 0 5px 5px;
    }
    #imgCont6 div p{
        margin: 0 0 5px 5px;
        font-size: 11px;
    }
    #imgCont6 div a {
        margin: 0 0 0 5px;
        font-size: 10px;
    }

    /* section7 */
    #sec7 {
        height: fit-content;
        padding: 20px 0 20px 0;
    }

    #mainCont7 {
        height: fit-content;
        flex-wrap: wrap;
    }

    #mainImg7 {
        width: 90%;
        justify-content: center;
    }
    .contSec7 {
        aspect-ratio: 1/1;
        width: 100px;
        padding: 2px;
    }
    .contSec7 img {
        height: 30px;
    }
    .contSec7 h2 {
        font-size: 18px;
    }

    #secCont7 {
        width: 70%;
        margin-top: 20px;
        align-items: center;
    }


    /* section8 */
    #sec8 {
        height: fit-content;
        padding: 20px 0 20px 0;
        background-size: 25%;
    }

    #mainCont8 {
        flex-wrap: wrap;
    }

    .img8 {
        display: flex;
        width: 250px;
        height: 240px;
    }
    .img8 div:first-of-type {
        width: 250px;
        height: 240px;
    }
    .img8 div img {
        width: 250px;
        height: 240px;
    }
    .imgText8 {
        width: 250px;
        height: fit-content;
    }
    .imgText8 h3 {
        font-size: 12px;
    }


    /* section9 */

    #sec9 {
        background-size: 25%;
    }

    #form {
        width: 80%;
        justify-content:center;
        gap: 10px;
        }
    #form input {
        width: 100%;
        padding: 2% 0% 2% 2%;
    }
    #form input::placeholder {
        font: 0.7rem sans-serif;
    }

    #title9 {
        width: 70%;
    }

    #sec9 textarea {
        width: 80%;
        padding: 0;
    }
    #sec9 textarea::placeholder {
        font: 0.7rem sans-serif;
    }

    /* footer */
    footer {
        padding-top: 20px;
        height: fit-content;
    }
    #mainFoot {
        width: 90%;
        height: fit-content;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    .footCont:first-of-type {
        width: 40%;
        height: fit-content;
    }
    .footCont:first-of-type img {
        height: 80px;
    }

    .footCont:nth-of-type(2) {
        width: 40%;
        height: fit-content;
        align-items: center;
    }

    .footCont:nth-of-type(3) {
        width: 40%;
        height: fit-content;
    }

    .footCont:last-of-type {
        width: 40%;
        height: fit-content;
        padding: 2%;
    }

    #copyright {
        height: fit-content;
    }

    #copyright p {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}