/* computer screen */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sec1{
        gap: 50px;
        height: 500px;
    }
    
    
    .sec1Top{
        gap: 80px;
        padding-top: 35px;
    }

    .sec1Navbar{
        gap: 30px;
    }


    .sec1Top>img{
        width: 100px;
        height: 82.75px;
    }
    
    .sec1BottomLeft>h1{
        font-size: 30px;
    }
    .sec1BottomLeft>p{
        font-size: 14px;
    }

    .sec3Right>p>span{
        font-size: 12px;
    }

    .sec3Right>p{
        font-size: 12px;
    }
    .sec3Photo>img{
        width: 100%;
        height: 100%;
    }


/* ///////// Separation ///////// */

    /* section6 */
    #mainText6 {
        margin-right: 0;
        margin-top: 4em;
        width: 21em;
    }
    #mainText6 h3 {
        font-size:  11px;
        letter-spacing: 0.14rem;
    }
    #mainText6 h2 {
        font-size: 1.625rem;
        word-spacing: 0.0625em;
    }
    #mainText6 #p1 {
        font-size: 11px;
        line-height: 1.5em;
    }
    #mainText6 #p2 {
        font-size: 11px;
        line-height: 1.5em;
        margin-top: 1rem;
    }

    #percent {
        /* transform: scale(0.8); */
        margin-bottom: 4.25em;
        gap: 0.5em;
    }
    .percentText div {
        height: 4.5em;
        width: 4.5em;
    }
    .percentText div span {
        font-size: 1.125rem;
    }
    .percentText p {
        font-size: 0.6875rem;
        margin-top: 0.75em;
    }


    #imgCont6 {
        background-position: 60% 0%;
    }
    #imgCont6 div {
        height: 11.5em;
        width: 19em;
    }

    #imgCont6 div {
        height: 10.5em;
        width: 15.75em;
    }
    #imgCont6 div img {
        height: 2.25rem;
        padding-left: 16px;
    }
    #imgCont6 div h3 {
        font-size: 11px;
        margin-left: 16px;
        
    }
    #imgCont6 div p {
        font-size: 11px;
        margin: 0 0 10px 16px;
    }
    #imgCont6 div a {
        font-size: 11px;
        margin-left: 16px;
    }


    /* section7 */
    #sec7 {
        align-items: normal;
        height: fit-content;
    }


    #mainImg7 {
        width: 20em;
        margin-top: 3.625em;
        margin-bottom: 4em;
    }
    .contSec7 {
        width: 8.75em;
        height: 8em;
    }
    .contSec7 img {
        height: 2rem;
        margin-top: 25px;
    }
    .contSec7 h2 {
        font-size: 1.25rem;
    }
    .contSec7 p {
        font-size: 11px;
        margin: 0;
    }


    #secCont7 {
        margin-top: 3.2em;
        width: 20em;
    }
    #secCont7 h3 {
        font-size: 11px;
        letter-spacing: 0.14rem;
        margin: 36px 0px 0 16px;
        color: #0ad3ef;
    }
    #secCont7 h2 {
        font-size: 1.625rem;
        word-spacing: 0.0625em;
        margin: 10px 0px 0 16px;
    }
    #secCont7 p {
        font-size: 11px;
        line-height: 1.5em;
        padding-right: 12px;
        margin: 12px 0 0px 16px;
        line-height: 18px;
    }
    #secCont7 button {
        margin: 22px 0 0 16px;
        font-size: 11px;
    }
    


    /* section8 */
    #sec8 {
        height: fit-content;
        background-size: 10em;
        background-position: -0.5% 44%;
    }

    #title8 h3 {
        font-size: 11px;
        letter-spacing: 0.14rem;
    }
    #title8 h2 {
        font-size: 1.625rem;
        word-spacing: 0.0625em;
        margin-top: 10px;
    }

    #mainCont8 {
        gap: 14px;
        margin-bottom: 4em;
        margin-bottom: 8em;
    }
    .img8 {
        width: 298px;
        height: 270px;
    }
    .img8 div:first-of-type {
        width: 298px;
        height: 270px;
    }
    .img8 div img {
        width: 298px;
        height: 270px;
    }
    .imgText8 {
        width: 270px;
        margin: 0 0 16px 18px;
    }
    .imgText8 p {
        font-size: 11px;
    }
    .imgText8 h3 {
        font-size: 15.5px;
        line-height: 20px;
        margin-bottom: 6px;
        color: #0ad3ef;
        font-weight: 400;
    }
    .imgText8 a {
        font-size: 11px;
    }



    /* section9 */


    #sec9 {
        height: fit-content;
        padding-bottom: 4.25em;
    }

    
    #title9 h3 {
        font-size: 11px;
        letter-spacing: 0.14rem;
        margin: 36px 0 0px 0;
        color: #0ad3ef;
    }
    #title9 h2 {
        font-size: 1.625rem;
        word-spacing: 0.0625em;
        margin: 10px 0 20px 0;
    }

    #form {
        width: 60%;
        gap: 16px;
    }
    #form input {
        width: 20%;
        padding: 1% 8% 2% 2%;
        font-size: 10px;
    }
    #sec9 textarea {
        width: 59%;
        padding: 1% 0 2% 1%;
        font-size: 10px;
        margin-top: 0;
    }
    #sec9 button {
        margin: 22px 0 0 6px;
        font-size: 10px;
        padding: 10px 34px 10px 34px;
    }



    /* footer */
    footer {
        padding-top: 3em;
        height: fit-content;
    }

    #mainFoot {
        height: fit-content;
        width: 70%;
        padding-bottom: 3.5em;
    }

    .footCont:first-of-type {
        padding-left: 4px;
        width: 370px;
    }
    .footCont:first-of-type img {
        height: 96px
    }
    .footCont:first-of-type p {
        font-size: 11px;
        padding: 0;
        line-height: 16px;
    }

    .footCont:nth-of-type(2) {
        padding-left: 14px;
    }
    .footCont:nth-of-type(2) h3 {
        font-size: 11px;
    }
    .footCont:nth-of-type(2) p {
        font-size: 11px;
        padding: 0;
        line-height: 16px;
    }
    .footCont:nth-of-type(2) a {
        font-size: 11px;
        line-height: 8px;
    }

    .footCont:nth-of-type(3) {
        width: 240px;
    }
    
    .footCont:nth-of-type(3) h3 {
        font-size: 11px;
        padding-left: 18px;
    }
    .footCont:nth-of-type(3) p {
        font-size: 11px;
        padding-left: 18px;
        line-height: 8px;
    }
    .footCont:nth-of-type(3) p:last-of-type {
        font-size: 11px;
        padding-left: 18px;
    }
    .footCont:nth-of-type(3) div i {
        margin: 22px 0 0 10px;
        font-size: 12px;
    }
    .footCont:nth-of-type(3) div i:first-of-type {
        margin: 22px 0 0 10px;
        padding-left: 8px;
    }

    .footCont:last-of-type h3 {
        font-size: 11px;
        padding-left: 14px;
        margin-top: 10px;
    }
    #footMail input {
        padding: 10px 16px 10px 10px;
        font-size: 10px;
        transform: translateX(12px)
    }
    #footMail i {
        right: 10px;
    }
    #footBtn {
        padding-left: 12px;
        margin-top: 8px;
    }
    #termsVisible {
        height: 8px;
        width: 8px;
    }
    #footBtn p {
        font-size: 11px;
    }
    
    #copyright p {
        font-size: 11px;
    }
}





/* Tablet screen */
@media screen and (min-width: 425px) and (max-width: 768px) {
    /* ///////// Section 1 ///////// */
    .sec1{
        gap: 35px;
        height: 400px;
    }
    
    
    .sec1Top{
        gap: 50px;
        padding-top: 25px;
    }

    .sec1Navbar{
        gap: 20px;
    }


    .sec1Top>img{
        width: 80px;
        height: 62.75px;
    }
    
    .sec1BottomLeft>h1{
        font-size: 20px;
    }
    .sec1BottomLeft>p{
        font-size: 10px;
    }

    .sec1Navbar>button{
        height: 30px;
        width: 70px;
    }

    .sec1GetStarted{
        height: 30px;
        width: 70px;
    }
    .sec1ContactUs{
        height: 30px;
        width: 70px;
    }

    /* ///////// Section 2 ///////// */
    .sec2{
        gap: 40px;
    }
    .sec2Title{
        gap: 20px;
    }
    .sec2Title>h3{
        font-size: medium;
    }
    
    .icon1{
        height: 70px;
        width: 90px;
    }
    .icon2{
        height: 70px;
        width: 90px;
    }
    .icon6{
        height: 70px;
        width: 90px;
    }
    .icon3{
        height: 70px;
        width: 90px;
    }
    .icon4{
        height: 70px;
        width: 90px;
    }
    .icon5{
        height: 70px;
        width: 90px;
    }

    /* /////// Section 3 /////// */
    .sec3{
        gap: 20px;
    }
    .sec3Right>h3{
        font-size: small;
    } 
    .sec3Right>p>span{
        font-size: 10px;
    }

    .sec3Right>p{
        font-size: 10px;
    }
    .sec3Photo>img{
        width: 70%;
        height: 100%;
    }


    /* ///////// Separation ///////// */

    h2 {
        font-size: 24px;
    }

    /* section6 */
    #sec6 {
        gap: 0px;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: center;
        background-size: 25%;
    }

    #mainCont6 {
        width: 70%;
        padding-top: 20px;
        height: fit-content;
        justify-content: center;
        text-align: center;
    }

    #mainText6{
        margin: 0;
        padding-right: 20px;
        align-items: center;
    }
    #percent {
        margin-bottom: 35px;
    }

    #imgCont6 {
        height: 360px;
        width: 420px;
    }

    #imgCont6 div {
        height: fit-content;
        width: 80%;
        border-top-right-radius: 10px;
        padding-bottom: 10px;
    }
    #imgCont6 div img {
        height: 30px;
        padding: 10px 0 0 5px;
    }
    #imgCont6 div h3{
        margin: 5px 0 5px 5px;
    }
    #imgCont6 div p{
        margin: 0 0 5px 5px;
        font-size: 11px;
    }
    #imgCont6 div a {
        margin: 0 0 0 5px;
        font-size: 10px;
    }

    /* section7 */
    #sec7 {
        height: fit-content;
        padding: 20px 0 20px 0;
        text-align: center;
    }

    #mainCont7 {
        height: fit-content;
        flex-wrap: wrap;
    }

    #mainImg7 {
        order: 2;
        width: 60%;
        justify-content: center;
        margin-top: 40px;
    }


    #secCont7 {
        width: 70%;
        text-align: center;
        margin-left: 0;
    }
    #secCont7 h3 {
        margin-top: 10px;
        align-self: center;
        margin-left: 0;
    }
    #secCont7 h2 {
        margin-left: 0;
    }
    #secCont7 p {
        margin-left: 0;
        padding-right: 0;
    }
    #secCont7 button {
        margin-top: 20px;
        align-self: center;
        margin-left: 0;
    }

    /* section8 */
    #sec8 {
        height: fit-content;
        padding: 20px 0 20px 0;
        background-size: 25%;
    }

    #mainCont8 {
        flex-wrap: wrap;
    }
    
    

    /* section9 */
    #form {
        width: 70%;
        justify-content:center;
        gap: 10px;
        }
    #form input {
        width: 100%;
        padding: 2% 0% 2% 2%;
    }
    #form input::placeholder {
        font: 0.7rem sans-serif;
    }


    #sec9 {
        background-size: 25%;
    }

    #title9 {
        width: 70%;
    }

    #sec9 textarea {
        width: 69%;
        padding: 10px 0 0 1%;;
    }
    #sec9 textarea::placeholder {
        font: 0.7rem sans-serif;
    }

    /* footer */
    footer {
        padding-top: 20px;
        height: fit-content;
    }
    #mainFoot {
        width: 90%;
        height: fit-content;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }
    .footCont:first-of-type img {
        height: 62px;
    }

    #copyright {
        height: fit-content;
    }
}





/* Phone screen */
@media screen and (max-width: 426px) {
    .sec2{
        gap: 15px;
    }

    .sec2Title{
        gap: 15px;
        font-size: small;
    }
    .sec2Title>h3{
        margin-top: 10px;
        font-size: smaller;
    }
    .sec2Title{
        font-size: small;
    }

    .icon1{
        height: 50px;
        width: 70px;
    }
    .icon2{
        height: 50px;
        width: 70px;
    }
    .icon6{
        height: 50px;
        width: 70px;
    }
    .icon3{
        height: 50px;
        width: 70px;
    }
    .icon4{
        height: 50px;
        width: 70px;
    }
    .icon5{
        height: 50px;
        width: 70px;
    }

/* ///////// Separation ///////// */
    h2 {
        font-size: 24px;
    }

    /* section6 */
    #sec6 {
        gap: 0px;
        flex-wrap: wrap;
        height: fit-content;
        justify-content: center;
        background-size: 25%;
        
    }

    #mainCont6 {
        width: 90%;
        padding-bottom: 20px;
        padding-top: 20px;
        justify-content: center;
        height: fit-content;
        text-align: center;
    }

    #mainText6{
        margin: 0;
        height: fit-content;
        width: 100%;
        align-items: center;
    }

    .percentText {
        align-items: center;
    }
    

    #imgCont6 {
        aspect-ratio: 1/1;
        width: 90%;
        margin: 0 20px 0 20px;
    }


    #imgCont6 div {
        height: fit-content;
        width: 80%;
        border-top-right-radius: 10px;
        padding-bottom: 10px;
    }
    #imgCont6 div img {
        height: 30px;
        padding: 10px 0 0 5px;
    }
    #imgCont6 div h3{
        margin: 5px 0 5px 5px;
    }
    #imgCont6 div p{
        margin: 0 0 5px 5px;
        font-size: 11px;
    }
    #imgCont6 div a {
        margin: 0 0 0 5px;
        font-size: 10px;
    }

    /* section7 */
    #sec7 {
        height: fit-content;
        padding: 20px 0 20px 0;
    }

    #mainCont7 {
        height: fit-content;
        flex-wrap: wrap;
    }

    #mainImg7 {
        width: 90%;
        justify-content: center;
    }
    .contSec7 {
        width: 9em;
        height: 8em;
    }
    .contSec7 img {
        height: 30px;
    }
    .contSec7 h2 {
        font-size: 18px;
    }

    #secCont7 {
        width: 90%;
        margin-top: 20px;
        align-items: center;
    }


    /* section8 */
    #sec8 {
        height: fit-content;
        padding: 20px 0 20px 0;
        background-size: 25%;
    }

    #mainCont8 {
        flex-wrap: wrap;
    }

    .img8 {
        display: flex;
        width: 280px;
        height: 270px;
    }
    .img8 div:first-of-type {
        width: 280px;
        height: 270px;
    }
    .img8 div img {
        width: 280px;
        height: 270px;
    }
    .imgText8 {
        width: 250px;
        height: fit-content;
    }
    .imgText8 h3 {
        font-size: 12px;
        line-height: 14px;
        margin-top: 6px;
        margin-bottom: 6px;
    }


    /* section9 */

    #sec9 {
        background-size: 25%;
    }

    #form {
        width: 80%;
        justify-content:center;
        gap: 10px;
        }
    #form input {
        width: 100%;
        padding: 2% 0% 2% 2%;
        flex: none;
    }
    #form input::placeholder {
        font: 0.7rem sans-serif;
    }

    #title9 {
        width: 70%;
    }

    #sec9 textarea {
        width: 80%;
        padding: 0;
        padding: 2% 0% 2% 2%;
    }
    #sec9 textarea::placeholder {
        font: 0.7rem sans-serif;
    }

    /* footer */
    footer {
        padding-top: 20px;
        height: fit-content;
    }
    #mainFoot {
        width: 90%;
        height: fit-content;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    .footCont:first-of-type {
        width: 64%;
        height: fit-content;
        margin-bottom: 20px;
    }
    .footCont:first-of-type img {
        height: 60px;
    }

    .footCont:nth-of-type(2) {
        width: 20%;
        height: fit-content;
        align-items: center;
    }

    .footCont:nth-of-type(3) {
        width: 40%;
        height: fit-content;
    }
    .footCont:nth-of-type(3) h3 {
        padding-left: 0;
    }
    .footCont:nth-of-type(3) p {
        padding-left: 0;
    }
    .footCont:nth-of-type(3) p:last-of-type {
        padding-left: 0;
    }
    .footCont:nth-of-type(3) div i:first-of-type {
        padding-left: 0;
    }

    .footCont:last-of-type {
        width: 40%;
        height: fit-content;
        padding: 2%;
    }

    #copyright {
        height: fit-content;
    }

    #copyright p {
        margin-top: 10px;
        margin-bottom: 20px;
    }

}