body {
    margin: 0;
    display: flex;
    flex-direction: column;
}


/* section6 */
#sec6 {
    width: 100%;
    height: 550px;
    background-color: red;
}
/* end section6 */





/* section7 */
#sec7 {
    width: 100%;
    height: 495px;
    background-color: green;
}
/* end section7 */





/* section8 */
#sec8 {
    width: 100%;
    height: 600px;
    background-color: blue;
}
/* end section8 */





/* section9 */
#sec9 {
    width: 100%;
    height: 600px;
    background-color: red;
}
/* end section9 */