body{
    padding: 0;
    margin: 0;
    
    background-color: black;
     
}


/* ////////// Section 1 ////////// */

.sec1{
    background: url(./../Assets/images/banner-overlay-img.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 750px;
    width: 100%;
    
}

.sec1Top{
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.sec1Top>img{
    width: 150px;
    height: 132.75px;
}

.sec1Navbar{
    display: flex;
    gap: 50px;
    
}

.sec1Navbar>a{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-decoration: none;
    color: white;
    
}

.sec1Navbar>button{
    background-color: #0ad3ef;
    height: 45px;
    width: 130px;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    font-weight: bolder;
}

.sec1Bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.sec1BottomLeft>h1{
    color: white;
    font-size: 70px;
    font-weight: bolder;
    /* text-align: center; */
    padding: 0;
    margin: 0;
}

.sec1BottomLeft{
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    width: 50%;
}
.sec1BottomLeft>p{
    padding: 0;
    margin: 0;
    /* text-align: center; */
    color: white;
}

.sec1BottomRight{

    padding: 0;
    margin: 0;
    width: 50%;
}

.sec1DoubleButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec1GetStarted{
    border: none;
    background-color: #0ad3ef;
    height: 40px;
    width: 130px;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
}

.sec1ContactUs{
    border: none;
    background-color: #2152a1;
    height: 40px;
    width: 130px;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
}

/* ////////// Section 2 ////////// */

.sec2{
    background-color: #061028;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 250px;
    width: 100%;
}

.sec2Title{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec2Title>h3{
    margin-top: 20px;
    color: #1688ac;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sec2Title>h2{
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sec2Icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 15px;
}

.icon1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background-color: #17256e;
    border: none;
    border-radius: 10px;
}
.icon1:hover{
    background-color: aqua;
    transition: 1s;
    transform: translate3d(0px,-10px, 0px);
}


.icon1>img{
    width: 60%;
    height: 65%;
    opacity: calc(70%);
    
}
.icon2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background-color: #17256e;
    border: none;
    border-radius: 10px;
}
.icon2:hover{
    background-color: aqua;
    transition: 1s;
    transform: translate3d(0px,-10px, 0px);
}


.icon2>img{
    width: 50%;
    height: 65%;
    opacity: calc(70%);
    
}
.icon3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background-color: #17256e;
    border: none;
    border-radius: 10px;
}
.icon3:hover{
    background-color: aqua;
    transition: 1s;
    transform: translate3d(0px,-10px, 0px);
}


.icon3>img{
    width: 50%;
    height: 60%;
    opacity: calc(70%);
    
}
.icon4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background-color: #17256e;
    border: none;
    border-radius: 10px;
}
.icon4:hover{
    background-color: aqua;
    transition: 1s;
    transform: translate3d(0px,-10px, 0px);
}


.icon4>img{
    width: 50%;
    height: 65%;
    opacity: calc(70%);
    
}
.icon5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background-color: #17256e;
    border: none;
    border-radius: 10px;
}
.icon5:hover{
    background-color: aqua;
    transition: 1s;
    transform: translate3d(0px,-10px, 0px);
}


.icon5>img{
    width: 65%;
    height: 70%;
    opacity: calc(70%);
    
}
.icon6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 120px;
    background-color: #17256e;
    border: none;
    border-radius: 10px;
}
.icon6:hover{
    background-color: aqua;
    transition: 1s;
    transform: translate3d(0px,-10px, 0px);
}


.icon6>img{
    width: 50%;
    height: 65%;
    opacity: calc(70%);
    
}





